@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Samim';
    src: url('/fonts/Samim.eot'); 
    src: url('/fonts/Samim.eot') format('embedded-opentype'),
    url('/fonts/Samim.woff') format('woff'),
    url('/fonts/Samim.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Samim-Bold';
    src: url('/fonts/Samim-Bold.eot'); 
    src: url('/fonts/Samim-Bold.eot') format('embedded-opentype'),
    url('/fonts/Samim-Bold.woff') format('woff'),
    url('/fonts/Samim-Bold.ttf') format('truetype');
  }

body{
    direction: rtl;
    font-family: 'Samim' !important;
}

.ltr{
    direction: ltr !important;
}
.tran {
  transition: all 0.7s ease;
}

.portBoxShadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hoverShadow{
  box-shadow: rgba(221, 255, 0, 0.62)0px 3px 8px;
}
.insideShadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.insideShadowV{
  box-shadow: rgb(160, 82, 255) 0px 30px 60px -12px inset, rgba(231, 52, 255, 0.3) 0px 18px 36px -18px inset;
}
